<header class="header">
    <div class="header-layer">
        <div class="header-view" data-controller="mobile-menu">
            <div class="row align-items-stretch no-gutters">

                {# Logo #}
                <div class="col-9 col-lg-auto header-view-logo">
                    <a href="{{ homepage_url }}" data-turbo="optional">
                        {{ current_project.metaTitle }}
                    </a>
                </div>

                {# Mobile menu button #}
                <div class="d-block d-lg-none col-3 header-view-menu text-right">
                    <button type="button" class="btn btn-link header-mobile-button"
                            data-mobile-menu-target="button">
                        <svg aria-hidden="true" focusable="false" role="img"
                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path fill="currentColor"
                                  d="M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z"></path>
                        </svg>
                    </button>
                </div>

                {# Desktop menu #}
                <div class="d-none d-lg-flex col-lg header-view-menu">
                    <nav class="menu">
                        <ul class="header-menu"
                            data-controller="menu"
                            data-cookie="{{ membership.cookie_name }}">
                            {% for item in current_project.header %}
                                <li>
                                    <div class="header-menu-label {{ item.label == 'Je donne' ? 'header-menu-label-donation' }}">
                                        <a href="{{ item.url }}" data-turbo="optional"
                                           {% if item.openNewTab %}target="_blank" rel="noopener noreferrer"{% endif %}>
                                            {{ item.label }}
                                        </a>

                                        {% if item.children|length > 0 %}
                                            <i class="fal fa-angle-down"></i>
                                        {% endif %}
                                    </div>

                                    {% if item.children|length > 0 %}
                                        <div class="header-menu-submenu">
                                            <ul>
                                                {% for child in item.children %}
                                                    <li>
                                                        <a href="{{ child.url }}" data-turbo="optional"
                                                           {% if child.openNewTab %}target="_blank" rel="noopener noreferrer"{% endif %}>
                                                            {{ child.label }}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                </li>
                            {% endfor %}

                            {% set cta = null %}
                            {% for block in current_project.home %}
                                {% if block.type == 'cta' %}
                                    {% set cta = block.config %}
                                {% endif %}
                            {% endfor %}

                            <li class="ml-auto">
                                {% if cta.primary.label %}
                                    <div class="header-menu-label header-menu-label-primary">
                                        <a href="{{ cta.primary.target }}" data-turbo="optional"
                                           {% if cta.primary.openNewTab %}target="_blank" rel="noreferrer noopener"{% endif %}>
                                            {{ cta.primary.label }}
                                        </a>
                                    </div>
                                {% endif %}
                            </li>

                            <li>
                                {% if cta.secondary.label %}
                                    <div class="header-menu-label header-menu-label-secondary">
                                        <a href="{{ cta.secondary.target }}" data-turbo="optional"
                                           {% if cta.secondary.openNewTab %}target="_blank" rel="noreferrer noopener"{% endif %}>
                                            {{ cta.secondary.label }}
                                        </a>
                                    </div>
                                {% endif %}
                            </li>
                        </ul>
                    </nav>
                </div>

                {# Mobile menu #}
                <div class="d-lg-none col-12" style="display: none;"
                     data-mobile-menu-target="menu">
                    <nav class="menu">
                        <ul class="header-mobile">
                            {% for item in current_project.header %}
                                <li>
                                    <a href="{{ item.url }}" data-turbo="optional"
                                       {% if item.openNewTab %}target="_blank" rel="noopener noreferrer"{% endif %}>
                                        {{ item.label }}
                                    </a>

                                    {% if item.children|length > 0 %}
                                        <div class="header-mobile-submenu">
                                            <ul>
                                                {% for child in item.children %}
                                                    <li>
                                                        <a href="{{ child.url }}" data-turbo="optional"
                                                           {% if child.openNewTab %}target="_blank"
                                                           rel="noopener noreferrer"{% endif %}>
                                                            {{ child.label }}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
